{% extends "collec_management/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Détails de la Collection{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">{{ collection.title }}</h1>
    <div class="card">
        <div class="card-body">
            <p class="lead"><strong>Description:</strong> {{ collection.description }}</p>
            <p><strong>Date de création:</strong> {{ collection.date_creation }}</p>
        </div>
    </div>
    <div class="text-center mt-4">
        <a class="btn btn-info" href="{% url 'collection_list' %}">Retour à la liste des collections</a>

    </div>
</div>
{% endblock %}