{% extends "collec_management/base.html" %}
{% load django_bootstrap5 %}
{% block title %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Modifier la collection</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {% bootstrap_form form %}
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
        <a href="{% url 'collection_list' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
